<div class="custom-nav bg-light w-10">
    <nav class="navbar ps-3">
        <a class="navbar-brand" href="#">MealPal</a>
        <div class="container">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/home">Home</a>
                <a class="nav-link" routerLink="/login">Login</a>
                <a class="nav-link" routerLink="/about">About</a>
                <a class="nav-link" routerLink="/contact">Contact</a>
            </div>
        </div>
    </nav>
</div>