
<div class="card w-75">
    <div class="card-header">
        <h1>Contact Us</h1>
    </div>
    <div class="card-body">
        <p>We would love to hear from you! If you have any questions, feedback, or suggestions regarding Eat Up, please don't hesitate to reach out to us. Your input is valuable in helping us improve our app and provide you with the best meal planning experience.</p>
        <p>Here are the ways you can get in touch with us:</p>
        <h3>Email</h3>
        <p>You can send us an email at <a href="mailto:eatup@company.com">eatup@company.com</a>. We strive to respond to all inquiries within 24-48 hours and will do our best to assist you with any questions or concerns you may have.</p>
        <h3>Customer Support</h3>
        <p>If you require immediate assistance or have a pressing matter, our dedicated customer support team is here to help. You can reach out to our support team by calling <a href="tel:1111111111">111-111-1111</a>. Our support hours are 9 AM to 5 PM, Monday through Friday, and we are committed to providing prompt and helpful assistance during these times.</p>
        <h3>Social Media</h3>
        <p>Stay connected with us on social media! Follow us on Twitter <a href="https://twitter.com/eatup">@eatup</a> for the latest updates, tips, and inspiration for your meal planning journey. Feel free to message us or leave comments, and we'll be sure to get back to you.</p>
        <p>Thank you for choosing Eat Up. We appreciate your support and look forward to assisting you!</p>        
    </div>
</div>