.background {
    background-image: url(../assets/spagette.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.main {
    margin-left: 200px;
    padding-top: 10px;
    padding-right: 10px;
}