<div class="card m-5 w-80">
    <div class="card-header">
        <h1>Meal View</h1>
    </div>
    <div class="card-body">
        <h1>{{selectedRecipe.mealName}}</h1>
        <p>{{selectedRecipe.mealCategory}}</p>

        <a *ngIf="selectedRecipe.mealLink" href="{{selectedRecipe.mealLink}}">{{selectedRecipe.mealLink}}</a>
        
        <div *ngIf="!selectedRecipe.mealLink">
            <p>Cook Time: {{selectedRecipe.mealCookTime}}</p>
            <h3>Description</h3>
            <p>{{selectedRecipe.mealDescription}}</p>
            <h3>Ingredients</h3>
            <p>{{selectedRecipe.mealIngredients}}</p>
            <h3>Instructions</h3>
            <p>{{selectedRecipe.mealSteps}}</p>
        </div>
    </div>
</div>