<div class="card w-75">
    <div class="card-header">
        <h1>About MealPal</h1>
    </div>
    <div class="card-body">
    <p>Welcome to MealPal, the ultimate meal planning app created by Spencer Warren. With MealPal, you can effortlessly create, edit, and delete meal plans, ensuring that your culinary journey is flexible and adaptable. Whether you prefer inserting recipe links or manually entering recipe details, MealPal provides the tools to organize and track your meals. Say goodbye to mealtime chaos and hello to streamlined and enjoyable meal planning.</p>
    </div>
</div>  