<div class="card col-12 col-sm-10 offset-sm-1">
    <div class="card-header">
        <h1>About Eat Up</h1>
    </div>
    <div class="card-body">
    <p>Welcome to Eat Up, the ultimate meal planning app created by Spencer Warren. With Eat Up, you can effortlessly create, edit, and delete meal plans, ensuring that your culinary journey is flexible and adaptable. Whether you prefer inserting meal links or manually entering meal details, Eat Up provides the tools to organize and track your meals. Say goodbye to mealtime chaos and hello to streamlined and enjoyable meal planning.</p>
    </div>
</div>