<div class="card col-12 col-sm-10 offset-sm-1">
    <div class="card-header">
        <h1>Meal View</h1>
    </div>
    <div class="card-body">
        <h1>{{selectedmeal.mealName}}</h1>
        <p>Cuisine: {{selectedmeal.mealCuisine}}</p>

        <a *ngIf="selectedmeal.mealLink" href="{{selectedmeal.mealLink}}">{{selectedmeal.mealLink}}</a>
        
        <div *ngIf="!selectedmeal.mealLink">
            <p>Cook Time: {{selectedmeal.mealCookTime}}</p>
            <p>Prep Time: {{selectedmeal.mealPrepTime}}</p>
            <h3>Description</h3>
            <p>{{selectedmeal.mealDescription}}</p>
            <hr>
            <h3>Ingredients</h3>
            <pre>{{selectedmeal.mealIngredients}}</pre>
            <hr>
            <h3>Instructions</h3>
            <pre>{{selectedmeal.mealSteps}}</pre>
        </div>
    </div>
</div>