<div class="card w-75">
    <div class="card-header">
        <h1>Home</h1>
    </div>
    <div class="card-body">
        <p>
            This application is an implementation of a meal planning app.
            It allows you to create, edit, and delete meal plans. You can
            easily organize your meals by inserting meal links or manually
            entering meal details.
            <br>
            <br>
            The reason for this application being a meal planning app is
            because I have found that I have a hard time organizing my
            meals. I have tried many different methods of meal planning,
            but I have never found one that I have liked. I have tried
            using pen and paper, but it's easy to misplace or forget the
            meal plans. I have tried using other meal planning apps, but
            I found them to be cumbersome and not user-friendly.
            <br>
            <br>
            So I decided to create my own meal planning app. I wanted to
            make it convenient and accessible from any device, so I developed
            a web application for it.
        </p>
        <div class="logo-div">
            <img src="assets/EatUpLogo.png" alt="Meal Plan" class="logo-m">
        </div>
    </div>  
    <div class="text-muted card-footer">Made by: Spencer Warren</div>
</div>