pre {
    white-space: pre-wrap;
}

label {
    margin-bottom: .5rem;
}

.background {
    background-image: url(/assets/fish.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    margin-left: 200px;
    padding-top: 10px;
    padding-right: 10px;
}

.off-white {
    background-color: #F9F5EC;
}

.card-header {
    background-color: #F9F5EC;
}

.logo-m {
    width: 150px;
}

.logo-s {
    width: 45px;
}

.logo-div {
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}


.profile-picture-lg {
    height: 200px;
    max-width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #F9F5EC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.profile-picture-sm {
    height: 75px;
    max-width: 75px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #F9F5EC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}