<div class="card col-12 col-sm-10 offset-sm-1">
    <div class="card-header">
        <h1>Calendar</h1>
    </div>
    <div class="card-body">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
        </div>
        <mwl-calendar-month-view 
        [viewDate]="viewDate" 
        [events]="events" 
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen" 
        (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-month-view>
        <br>
        
        <div class="card">
            <h3 class="card-header">
                Meals
            </h3>
            <div class="card-body">
                <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
                <div *ngFor="let event of externalEvents" 
                    class="m-2"
                    mwlDraggable 
                    [dropData]="{event: event}"
                    [touchStartLongPress]="{ delay: 300, delta: 30 }" 
                    dragActiveClass="drag-active">
                    <a href="javascript:;" class="dragable">
                        {{ event.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
