<div class="card col-12 col-sm-10 offset-sm-1">
    <div class="card-header">
        <h1>Calendar</h1>
    </div>
    <div class="card-body">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#instructionModal">
                Instructions
              </button>
            </div>
        </div>

        <div class="modal fade" id="instructionModal" tabindex="-1" aria-labelledby="instructionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="instructionModalLabel">Meal Planning Instructions</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Drag and drop meals from the list below into the calendar to plan a meal</li>
                        <li>Drag and drop meals from one day to another to change the date</li>
                        <li>Use the plus and minus buttons to increase or decrease the number of days a meal is planned for</li>
                        <li>Use the trash can to delete a meal from the calendar and the book icon to view the recipe</li>
                    </ul>
                    <br>
                    All changes are saved automatically.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <mwl-calendar-month-view 
        [viewDate]="viewDate" 
        [events]="events" 
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen" 
        (dayClicked)="dayClicked($event.day)"
        (eventTimesChanged)="eventDropped($event)">
        </mwl-calendar-month-view>
        <br>
        
        <div class="card">
            <h3 class="card-header">
                Meals
            </h3>
            <div class="card-body">
                <p *ngIf="externalEvents.length === 0"><em>No events added</em></p>
                <div *ngFor="let event of externalEvents" 
                    class="m-2"
                    mwlDraggable 
                    [dropData]="{event: event}"
                    [touchStartLongPress]="{ delay: 300, delta: 30 }" 
                    dragActiveClass="drag-active">
                    <a href="javascript:;" class="dragable">
                        {{ event.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>