<div class="card col-12 col-sm-10 offset-sm-1">
    <div class="card-header">
        <h1>Profile</h1>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tbody>
                
                <tr>
                    <th>Username</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{user.userEmail}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{user.firstName}}</td>
                </tr>
            <tr>
                <th>Last Name</th>
                <td>{{user.lastName}}</td>
            </tr>
        </tbody>
    </table>
    <img [src]="profilePicture" class="img-fluid profile-picture-lg">
        
        <!-- <div class="row">
            <div class="col">
                <p class="text-muted">Username:</p><p>{{user.username}}</p>
                <h3>Email: {{user.userEmail}}</h3>
                <h3>First Name: {{user.firstName}}</h3>
                <h3>Last Name: {{user.lastName}}</h3>
            </div>
        </div> -->
        <div class="mt-3">
            <button class="btn btn-primary me-3" (click)="editProfile()">Edit Profile</button>
            <button class="btn btn-danger" (click)="deleteProfile()">Delete Profile</button>
        </div>
    </div>
</div>